@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

#App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  border: solid 5px black;
  box-sizing: border-box;
}

#wrapper {
  display: flex;
}

#machine {
  display: flex;
  position: relative;
  width: 730px;
  padding: 15px;
  box-sizing: border-box;
  border: solid 3px black;
  /*box-shadow: 0 40px rgb(39, 39, 39), 0 50px rgba(0, 0, 0, 0.4);*/
}

#screen {
  height: 125px;
  width: 260px;
  box-sizing: border-box;
  border: solid 2px black;
  grid-area: "screen";
  border-radius: 3px;
  background-color: lightblue;
  margin: 10px;
  margin-right: 15px;
  padding-left: 5px;
  animation: glow 0.8s infinite alternate;
  font-family: "VT323", monospace;
  font-size: 30px;
  box-sizing: border-box;
  /*display: grid;
  grid-template-columns: 2fr 8fr 1.8fr 1.1fr;*/
  color: black;
  position: absolute;
  right: 0;
  top: 5px;
}

#mute {
  color: rgba(0, 0, 0, 0.3);
}

#pads {
  padding-bottom: 6px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 8px;
}

#controls {
  height: 316px;
  width: 260px;
  box-sizing: border-box;
  border: solid 2px black;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 14px;
  display: grid;
  margin-right: 15px;
  /*grid-template-areas:
    "volume bank"
    "volume mute";
  grid-template-columns: 1fr 1fr;*/
}

#volume-control {
  grid-area: "volume";
  height: 320px;
  width: 130px;
  position: absolute;
  left: 0px;
  top: -10px;
  text-align: center;
}

#mute-control {
  position: absolute;
  right: 35px;
  bottom: 60px;
  width: 80px;
  text-align: center;
}

button {
  color: black;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 0.5rem;
  position: relative;
  top: 0;
  transition: all 50ms ease;
  box-shadow: 0 0.6em rgb(39, 39, 39), 0 0.9em rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 50px;
}

button:hover {
  border: 2px solid darkslateblue;
}

button:active {
  top: 0.6em;
  box-shadow: 0 0.2em rgba(0, 0, 0, 0.4);
}

.control-button {
  margin: 5px;
}

#select-bank {
  text-align: center;
  /*grid-area: "bank";*/
  width: 130px;
  right: 15px;
  position: absolute;
  width: 120px;
  top: 50px;
}
.pad-button {
  top: 0px;
  width: 100px;
  height: 100px;
  border-radius: 3px;
}

.pressed {
  top: 10px;
  box-shadow: 0 0.2em rgba(0, 0, 0, 0.4);
}

.inactive {
  opacity: 0.6;
  border: solid 1px black;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -8px lightcyan;
  }
  to {
    box-shadow: 0 0 10px 8px lightcyan;
  }
}

.slidecontainer {
  /*margin: 30px;
  width: 200px; /* Width of the outside container */
  height: 70px;
  width: 200px;
  bottom: 80px;
  left: 34px;
  position: absolute;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 200px; /* Full-width */
  height: 10px; /* Specified height */
  background: black; /* Grey background */
  /*outline: none; /* Remove outline */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  /*box-shadow: inset -2px 2px 5px white;*/
}

/* Mouse-over effects */
.slider:hover {
  width: 200px;
  height: 10px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  background: rgb(239, 239, 239); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 15px;
  border: solid 2px black;
  box-shadow: -2px 0 rgb(39, 39, 39), -4px 0 rgba(0, 0, 0, 0.4);
}

.slider::-webkit-slider-thumb:active {
  width: 27px;
  height: 54px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 50px; /* Slider handle height */
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* TOGGLE BOXES */

/* The switch - the box around the slider */
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background: #d3d3d3; /* Grey background */
}

.toggle:hover {
  opacity: 1;
}
/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d3d3d3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .toggle-slider {
  background-color: black;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 0px rgb(0, 0, 0, 0.7);
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
